{% extends 'base.html' %}

{% block title %}О нас{% endblock %}

{% block content %}
<body>
    <div class="container">
        <h1>О нашем магазине</h1>
        <p>
            Добро пожаловать в наш интернет-магазин, данный
            магазин является учебным проектом для освоения основ веб разработки.
        </p>
        <p>
            Если у вас есть какие-либо вопросы или предложения,
            можете связаться с <a href="/contact">нами</a>.
        </p>
    </div>
</body>
{% endblock %}
