{% extends 'base.html' %}

{% block title %}Контакты{% endblock %}

{% block content %}
<body>
    <div class="container">
        <h1>Свяжитесь с нами</h1>
        <p>
            Если у вас возникли вопросы или предложения, свяжитесь с нашей командой по указанным контактам. Мы всегда рады помочь вам!
        </p>
        <div class="contact-info">
            <p><strong>Email:</strong> <a href="mailto:kovach.aleksey19@ya.ru">kovach.aleksey19@ya.ru</a></p>
            <p><strong>Телефон:</strong> +7 (999) 082-37-98</p>
            <p><strong>Адрес офиса:</strong> Хабаровск, ул. Примерная, д. 10</p>
        </div>
    </div>
</body>
{% endblock %}