{% extends 'base.html' %}

{% block title %}Номер вашего заказа: {{ order.id }}{% endblock %}

{% block content %}
<p>Сейчас вас перенаправит на страницу оплаты</p>
<a href="{{ url_for('order.order_paid', order_id=order.id, signature=signature) }}">Для перехода к оплате кликните сюда</a>
{% endblock %}
{% block scripts %}
<script>
    setTimeout(function() {
        window.location.href = "{{ url_for('order.order_paid', order_id=order.id, signature=signature) }}";
    }, 10000);
</script>
{% endblock %}